.product-container{
    width:100%;
    min-height:80vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding:10px;
}
.card{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:20px 0;
   
   
    
}
.card-description{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:250px;
    height:150px;
    
   
box-shadow: 5px 10px 18px pink;
}

img{
    width:250px;
    height:300px;
    transition:all 0.3s ease;
    background-color: rgb(255, 255, 254);
   
   
}
img:hover{
    transform: scale(1.1);
}
.heart-1{
    height:20px;
    width:20px;
    background-color: rgb(255, 255, 254);
}
